
.services_section{
    margin-top: 350px;
    margin-bottom: 10px;
}
.about_section{
    margin-top: 10px;
    margin-bottom: 20px;
}
.projects_section{
    margin-top: 10px;
    margin-bottom: 20px;
}
.testimonial_section{
    margin-top: 10px;
    margin-bottom: 20px;
}
.contact_section{
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer_menu li{
    text-align: left;
}













