{# <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
</ul> #}

{# <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{ path('app_front_service', { 'slug': 'services' }) }}">Toutes</a></li>
    {% for service in services %}
        <li><a class="dropdown-item" href="{{ path('app_front_service', { 'slug': service.slug })}}">{{ service.titre }}</a></li>
    {% endfor %}
</ul> #}