<!-- header top section start -->
<div class="header_top_section">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="header_top_main">
                <div class="logo"><a href="{{ path('app_home') }}"><img src="images/logo.jpg"></a></div>
                <div class="call_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +33 749736262</a></div>
                <div class="call_text_2"><a href="{{ path('app_contact') }}"><i class="fa fa-envelope" aria-hidden="true"></i> contact@mozaik-peinture.fr</a></div>
                <div class="call_text_1"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 76000, Rouen - FRANCE</a></div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- header section start -->

<!-- header section start -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home2') }}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_home2') }}">Acceuil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">A Propos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Nos Services
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Contact</a>
            </li>
            <li class="nav-item ms-lg-auto d-flex align-items-center">
                <a class="nav-link" href="">Log In</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
<!-- header section end -->
